## Topic: Working with missing data
My name: Yumeng Wang    
My UM email: yumengwa@umich.edu

### Detecting
- use `.isnull()` to detecte missing values
- use `.notnull()` to detecte non-null values

### Example

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    [[1, np.nan, 3], [np.nan, 5, 6], [7, 8, np.nan], [10, 11, 12]], 
    index=["a", "b", "c", "d"], 
    columns=["0", "1", "2"]
)
df

      0     1     2
a   1.0   NaN   3.0
b   NaN   5.0   6.0
c   7.0   8.0   NaN
d  10.0  11.0  12.0

In [2]:
df.isnull()

       0      1      2
a  False   True  False
b   True  False  False
c  False  False   True
d  False  False  False

### Deleting
- use `.dropna()` to delete the missing values

### Example

In [3]:
df.dropna()

      0     1     2
d  10.0  11.0  12.0

### Filling
- use `.fillna()` to fill the missing values
- use `.ffill()` to fill the missing value with forward one
- use `.bfill()` to fill the missing value with backward one


### Example

In [4]:
df.fillna(100)

       0      1      2
a    1.0  100.0    3.0
b  100.0    5.0    6.0
c    7.0    8.0  100.0
d   10.0   11.0   12.0